<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Dec20my-first-web-project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Print</display-name>
		<servlet-name>Print</servlet-name>
		<servlet-class>Print</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>test</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>test</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Welcome1</display-name>
		<servlet-name>Welcome1</servlet-name>
		<servlet-class>Welcome1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Print</servlet-name>
		<url-pattern>/Print</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcome1</servlet-name>
		<url-pattern>/Welcome1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
