<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Dec22CarServiceSystem</display-name>
	<filter>
		<description>
		</description>
		<display-name>RegisterFilter</display-name>
		<filter-name>RegisterFilter</filter-name>
		<filter-class>RegisterFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>RegisterFilter1</display-name>
		<filter-name>RegisterFilter1</filter-name>
		<filter-class>RegisterFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<url-pattern>/RegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<servlet-name>CustomerRegister</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RegisterFilter1</filter-name>
		<url-pattern>/RegisterFilter1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RegisterFilter1</filter-name>
		<servlet-name>CustomerRegister</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>com.accenture.customer.register.CustomerRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
